#navMenuDiv {height: 50px; background-color: #333333; text-align: center; padding-top: 1px; margin-bottom: 10px;}

#centerP {text-align: center;}

body {background-color: black; color: white; font-family: sans-serif;}

a:link {color: #FFFFFF; text-decoration: underline;}
a:visited {color: #FFFFFF; text-decoration: underline;}
a:hover {color: #FFFFFF; text-decoration: underline;}
a:active {color: #FFFFFF; text-decoration: underline;}

.roomTd {width: 140px; height: 180px; vertical-align: top;}

.roomTitle {margin-bottom: 3px;}
.roomPeople {color: #00DD00; margin-bottom: 3px;}
.roomObjects {color: #DDBB00;}